 h2,h3,.details{
    border-style:solid;
    margin-left:300px;
    background-color:#ADD8E6;
    position:relative;
}
h2{
    width:350px;
    text-align:left;
    padding-left:10px; 
    
}
h3,.details{
    width:300px;
}

h3{
    margin-top:79px;
    padding-left:20px;
}
.details{
    margin-top:-18px;
    padding-top:18px;
    text-align:justify;
    line-height:0.2;
    padding-left:40px;
    padding-bottom:70px;
}

img {
    position:fixed;
    left:0px;
    top:0px;
    bottom:150px;
    right:250px;
